*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 14, 14);
}

/* HEADER */

header{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 7vh;
    grid-template-areas:"h1 nav";

    background-color: rgba(0, 0, 0, 0.093);
    color: white;
    position: sticky;
    top: 0%;
    z-index: 2;
    align-content: center;
    align-items: center;
}

h1 a{
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    text-align: left;
    text-decoration: none;
    margin-left: 20px;
    width: 100px; height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight:600;
    grid-area: h1;
}


#navegador1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    grid-area: nav;
    text-align: right;
    margin-right: 20px;
}

.navup{
    text-decoration: none;
    list-style: none;
    color: rgb(109, 105, 105);
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
}

.navup:hover{
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
                                                      /* DISEÑO INDEX */

.mainIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 830px);
    grid-template-areas:
    "presentacion"
    "contactanos"
    "servicios";
}


/* Presentanción */

#presentacion {
    width: 100% ; height: 830px;
    background-image:url(../img/imac2.png);
    background-size: 100% auto;
    color: white;
    grid-area: presentacion;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 830px;
    grid-template-areas: "presentacion_texto img";
}

.presentacion__texto {
    width: 40vw; height: 50vh;
    padding: 30px 20px 30px;
    display: block;
    grid-area: presentacion_texto;
    transform: translate(30px, 250px);
}

.presentacion__texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
}

.presentacion__texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

/* Más info */

#contactanos {
    width: 100% auto; height: 830px;
    background-color: rgb(223, 222, 222);
    background-size: 100% auto;
    grid-area: contactanos;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 830px;
    grid-template-areas: "img contactanos_texto";
}

#contactanos img{
    width: 900px; height: 900px;
    transform: translate(-150px,50px);
    grid-area: img;
}

.contactanos__texto {
    width: 500px;
    display: block;
    grid-area: contactanos_texto;
    text-align: center;

}

.contactanos__texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    text-align: center;
    color: rgb(52, 52, 52);
    transform: translate(40px,370px);
}

.contactanos__texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(74, 74, 74);
    transform: translate(90px,370px);
}

/* Servicios */

 #servicios {
    width: 100% auto; height: 830px;
    background-color: rgb(232, 230, 230);
    background-size: 100% auto;
    grid-area: servicios;
}

#servicios h2{
    text-align: center;
    transform: translate(0px,130px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
}

#card {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 500px;
    color: rgb(74, 74, 74);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.card__servicio{
    width: 300px; height: 450px;
    padding: 20px 20px 20px 20px;
    border-radius: 3%;
    background-color: white;
    box-shadow: 1px 1px 1px black;

    align-content: center;
    align-items: center;
}

.card__servicio:hover{
    box-shadow: 1px 1px 1px 2px #8ec5fc;
}

.card__servicio hr{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px 5px;
}

.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.card__nombre h4{
    font-size: 1.6;
}

.card__nombre img{
    width: 40px; height: 40px;
}

.card__descripcion p{
    text-align: justify;
}




                                                      /* DISEÑO "NOSOTROS" */


.mainNosotros{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 764px);
    grid-template-areas:
    "presentacion2"
    "persona1"
    "persona2";
}

#presentacion2 {
    width: 100% auto; height: 764px;
    background-color: rgb(223, 222, 222);
    background-size: 100% auto;
    grid-area: presentacion2;
}

.presentacion2__texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    text-align: center;
    position: relative;
    top: 250px;
    color: rgb(52, 52, 52);
}

.presentacion2__texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: 300px;
    color: rgb(74, 74, 74);
}

#persona1 {
    width: 100% auto; height: 764px;
    background-color: rgb(255, 255, 255);
    background-size: 100% auto;
    grid-area: persona1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 764px;
    grid-template-areas: "foto1 nombre1";
}

.foto1 img{
    width: 594px; height: 100%;
    grid-area: foto1;
    align-content: center;
}

.nombre1{
    grid-area: nombre1;
    width: 590px;
}

.nombre1 h3{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
    position: relative;
    top: 140px;
    left: 20px;
}

.nombre1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    color: rgb(74, 74, 74);
    top: 150px;
    left: 20px;
}

#persona2 {
    width: 100% auto; height: 764px;
    background-color: rgb(255, 255, 255);
    background-size: 100% auto;
    grid-area: persona2;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 764px;
    grid-template-areas: "nombre2 foto2";
}

.foto2 img{
    width: 650px; height: 764px;
    grid-area: foto2;
}

.nombre2{
    width: 590px;
    grid-area: nombre2;
}

.nombre2 h3{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
    position: relative;
    top: 140px;
    left: 50px;
}

.nombre2 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    color: rgb(74, 74, 74);
    top: 150px;
    left: 50px;
}

                                                      /* DISEÑO "CLIENTES" */

#presentacion3 {
    width: 100% auto; height: 810px;
    background-color: rgb(0, 0, 0);
    background-size: 100% auto;
}

.presentacion3__texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    text-align: center;
    position: relative;
    top: 100px;
    color: rgb(255, 255, 255);
}

.presentacion3__texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top: 130px;
    color: rgb(255, 255, 255);
}

.logosclientes img{
    display: inline block;
    width: 100px; height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: 300px;
    left: 100px;
}

                                                      /* DISEÑO "CONTACTO" */

#presentacion4 {
    width: 100% auto; height: 810px;
    background-color: rgb(0, 0, 0);
    background-size: 100% auto;
}

#presentacion4 img{
    width: 700px; height: 700px;
    position: relative;
    right: 70px;
    top: 20px;
}

.presentacion4__texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-align: left;
    position: relative;
    top: 100px;
    left: 50px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.presentacion4__texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    top: 130px;
    left: 50px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

#formulario form{
    position: relative;
    bottom: 450px;
    left: 900px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}


/* FOOTER */

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 30vh;
    grid-template-areas: "nav2 contactoredes";
}

.nav2{
    width: 400px; height: 20vh;
    grid-area: nav2;
}

#footer h2 a{
    text-decoration: none;
    list-style: none;
    color: white;
    display: block;
    text-align: left;
    line-height: 2rem;
    position: relative;
    top: 20px;
    left: 85px;
    width: 100px; height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight:600;
}

#footer .navdown{
    text-decoration: none;
    list-style: none;
    color: white;
    display: block;
    text-align: left;
    line-height: 2rem;
    position: relative;
    top: 60px;
    left: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
}

.contactoredes{
    grid-area: contactoredes;
    position: relative;
    text-align: end;
    align-content: center;
}

.redes{
    position: relative;
    top: 120px;
    right: 90px;
}

.redes img {
    width: 25px; height: 25px;
}

.contact{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
    top: 110px;
    right: 90px;
}
