*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 14, 14);
}

main{
    height: 2490px;
}

/* HEADER */

nav.navbar{
    background-color:rgba(0, 0, 0, 0.097);
    height: 7vh;
}

a.navbar-brand{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
}

a.nav-link{
    color: rgb(109, 105, 105);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}

a.nav-link:hover{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


                                                      /* DISEÑO INDEX */


/* Presentanción */

.presentacion{
    height: 830px;
    background-image:url(../img/imac2.png);
    background-size: 100% auto;
    color: white;
}

.presentacion-texto {
    width: 40vw; height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    top: 250px;
}

.presentacion-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
}

.presentacion-texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

/* Más info */

.contactanos {
    height: 830px;
    background-color: rgb(223, 222, 222);   
}

.contactanos img{
    width: 900px; height: 900px;
    position: relative;
    left: -150px;
    top: 50px;
}

.contactanos-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 500px;   
}

.contactanos-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    text-align: center;
    color: rgb(52, 52, 52);
    position: relative;
}

.contactanos-texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(74, 74, 74);
    position: relative;
}

/* Servicios */

#servicios{
    height: 830px;
    width: 100%;
}

.servicios {
    height: 830px;
    background-color: rgb(232, 230, 230);
}

.servicios h2{
    text-align: center;
    position: relative;
    top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
}

#card {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 550px;
    color: rgb(74, 74, 74);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.card__servicio{
    width: 300px; height: 450px;
    padding: 20px 20px 20px 20px;
    border-radius: 3%;
    background-color: white;
    box-shadow: 1px 1px 1px black;

    align-content: center;
    align-items: center;
}

.card__servicio:hover{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

.card__servicio hr{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px 5px;
}

.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.card__nombre h4{
    font-size: 1.6;
}

.card__nombre img{
    width: 40px; height: 40px;
}

.card__descripcion p{
    text-align: justify;
}




                                                      /* DISEÑO "NOSOTROS" */



.presentacion2 {
    height: 830px;
    background-color: rgb(223, 222, 222);
}

.presentacion2-texto{
    position: relative;
    top: 300px;
}

.presentacion2-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
    color: rgb(52, 52, 52);
}

.presentacion2-texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(74, 74, 74);
}

.persona1 {
    height: 830px;
    background-color: rgb(255, 255, 255);
}

.foto1 img{
    width: 594.5px; height: 100%;
}

.nombre1{
    width: 590px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 250px;
}

.nombre1 h3{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
}

.nombre1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(74, 74, 74);
}

.persona2 {
    height: 830px;
    background-color: rgb(255, 255, 255);
}

.foto2 img{
    width: 700px; height: 830px;
    position: relative;
    left: 120px;
}

.nombre2{
    width: 590px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50px;
    top: 250px;
}

.nombre2 h3{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: rgb(52, 52, 52);
}

.nombre2 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(74, 74, 74);
}

                                                      /* DISEÑO "CLIENTES" */

.presentacion3 {
    height: 830px;
    background-color: rgb(11, 11, 11);
}

.presentacion3-texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 200px;
    color:rgb(255, 255, 255) ;

}

.presentacion3-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
}

.presentacion3-texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.clientes {
    position: relative;
    top: 300px;
}

.logosclientes img{
    width: 100px; height: 100px;
}

                                                      /* DISEÑO "CONTACTO" */

.presentacion4 {
    height: 830px;
    background-color: rgb(11, 11, 11);
}

.presentacion4 img{
    width: 700px; height: 700px;
    position: relative;
    right: 70px;
    bottom: 300px;
    z-index: -1;
}

.presentacion4-texto{
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 300px;
    left: 50px;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: left;
}

.presentacion4-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.presentacion4-texto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.form{
    position: relative;
    top: 300px;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
}

.btn{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.contacto {
    height: 600px;
}

/* FOOTER */

.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30vh;
}

.nav h2 a{
    text-decoration: none;
    list-style: none;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    line-height: 2rem;
    position: relative;
    top: 20px;
    left: 85px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight:600;
}

.nav2 a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2rem;
    position: relative;
    top: 70px;
    right: 47px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
}

.nav2 a:hover{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactoredes{
    position: relative;
    text-align: end;
    align-content: center;
    top: 70px;
    right: 85px;
}

.redes img {
    width: 25px; height: 25px;
}

.contact{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
}


