@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0f0e0e; }

.main {
  padding: 0px 0px 0px 0px; }

.contenedornav {
  padding: 0px 0px 0px 0px; }
  .contenedornav .nav-header {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 0px 0px 0px;
    height: 9vh; }

.navbar-brand {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9rem;
  font-weight: 600;
  text-decoration: none;
  padding-left: 20px; }

.navbar-nav {
  padding-right: 20px; }

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500; }
  .nav-link:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s; }

@media (max-width: 991px) {
  #navbarNavAltMarkup {
    background: black; }

  a .navbar-brand {
    justify-content: center;
    margin: 5px;
    padding: 0px 0px 0px 0px; }

  .nav-header {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    position: relative;
    bottom: 26px; }

  .navbar-nav {
    padding-left: 20px; } }
@media (max-width: 767px) {
  a .navbar-brand {
    justify-content: center;
    margin: 5px;
    padding: 0px 0px 0px 0px; }

  nav .navbar {
    height: 9vh; }
    nav .navbar-nav {
      padding-left: 20px; }

  .nav-header {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px;
    position: relative;
    bottom: 26px; }

  #navbarNavAltMarkup {
    background: black; } }
.footer {
  background-color: black;
  color: white;
  height: 30vh;
  width: 100%; }

.rowfooter {
  padding: 15px;
  margin: 0px 0px 0px 0px; }

.nav {
  padding-top: 10px; }
  .nav h2 a {
    padding-left: 30px;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600; }

.nav2 li {
  list-style: none; }
  .nav2 li a {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 1;
    text-decoration: none; }
  .nav2 li:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s; }

.contactoredes {
  padding-top: 50px;
  text-align: end;
  align-content: center; }
  .contactoredes_telmail {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400; }
  .contactoredes_links a {
    margin: 5px; }
  .contactoredes_links img {
    width: 25px;
    height: 25px; }

@media (max-width: 768px) {
  .nav2 li {
    display: none; }

  .nav {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px; }
    .nav h2 a {
      text-decoration: none;
      list-style: none;
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem;
      padding-left: 0px; }

  .contactoredes {
    justify-content: center;
    text-align: center;
    padding-top: 0px; }

  .footer {
    padding: 0px; } }
/* DISEÑO INDEX */
html {
  overflow-x: hidden; }

/* Presentanción */
.presentacion {
  width: 100%;
  height: 830px;
  color: white;
  padding: 0px 0px 0px 0px;
  position: relative; }
  .presentacion img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .presentacion-texto {
    top: 30%;
    position: absolute;
    z-index: 1;
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding-left: 30px; }
    .presentacion-texto h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 4.5rem; }
    .presentacion-texto p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 1.5rem; }
  @media (max-width: 767px) {
    .presentacion {
      min-height: 80vh;
      background-color: #0f0e0e;
      background-size: 100%;
      background-image: none; }
      .presentacion img {
        display: none; }
      .presentacion-texto {
        top: -5%;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        padding-top: 200px; }
        .presentacion-texto h1 {
          margin: 0px 0px 0px 0px;
          font-size: 3.5rem;
          text-align: center; }
        .presentacion-texto p {
          margin: 0px 0px 0px 0px;
          font-weight: 400;
          font-size: 1.2rem;
          text-align: center;
          padding-top: 10px;
          padding-left: 60px;
          padding-right: 60px; } }
  @media (max-width: 460px) {
    .presentacion img {
      display: none; }
    .presentacion-texto {
      top: 0%; }
    .presentacion .presentacion-texto h1 {
      font-size: 3rem; }
    .presentacion .presentacion-texto p {
      padding-left: 20px;
      padding-right: 20px; } }

/* Más info */
.contactanos {
  height: 830px;
  padding: 0px 0px 0px 0px;
  background-color: #dfdede; }
  .contactanos img {
    width: 900px;
    height: 900px;
    position: relative;
    bottom: 370px;
    right: 180px; }
  .contactanos-texto h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    text-align: end;
    color: #343434;
    z-index: 1; }
  .contactanos-texto p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: end;
    color: #4a4a4a;
    z-index: 1; }
  .contactanos .carrusel {
    justify-content: right;
    padding-top: 350px;
    padding-right: 40px; }
  .contactanos .macbook {
    display: none; }

@media (max-width: 767px) {
  .contactanos {
    min-height: 80vh;
    justify-content: center; }
    .contactanos .carrusel {
      width: 100%;
      text-align: center;
      margin: 0px 0px 0px 0px;
      padding-top: 250px;
      padding-left: 10px;
      padding-right: 10px; }
    .contactanos .macbook {
      width: 100%;
      display: flex;
      justify-content: center; }
      .contactanos .macbook img {
        height: 200px;
        width: 350px;
        position: relative;
        left: 2px;
        margin-top: 100px; }
    .contactanos img {
      width: 650px;
      height: 650px;
      position: relative;
      bottom: 700px;
      right: 250px; }
    .contactanos-texto h2 {
      width: 100%;
      font-size: 3rem;
      text-align: center;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; }
    .contactanos-texto p {
      font-size: 1rem;
      text-align: center;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px; } }
@media (max-width: 460px) {
  .contactanos img {
    width: 650px;
    height: 650px;
    position: relative;
    bottom: 600px;
    right: 300px; }
  .contactanos .carrusel {
    width: 100%;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 250px;
    padding-left: 10px;
    padding-right: 10px; }
  .contactanos-texto h2 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
  .contactanos-texto p {
    font-size: 0.97rem;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; }
  .contactanos .macbook {
    width: 100%;
    display: flex;
    justify-content: center; }
    .contactanos .macbook img {
      height: 200px;
      width: 350px;
      position: relative;
      left: 2px;
      margin-top: 70px; } }
/* Servicios */
.trabajos {
  height: 830px;
  background-color: white; }
  .trabajos h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    color: #343434;
    padding-top: 80px;
    padding-bottom: 80px; }

.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px; }

.trabajo1 {
  background-image: url(../img/1.png);
  height: 500px;
  width: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px; }
  .trabajo1:hover {
    background-image: url(../img/pedro.gif);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s; }

.trabajo2 {
  background-image: url(../img/3.png);
  height: 500px;
  width: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px; }
  .trabajo2:hover {
    background-image: url(../img/urtubey.gif);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s; }

.trabajo3 {
  background-image: url(../img/5.png);
  height: 500px;
  width: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px; }
  .trabajo3:hover {
    background-image: url(../img/unisono.gif);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s; }

@media (max-width: 991px) {
  .trabajos {
    height: 2000px; }

  .videos {
    display: flex;
    flex-direction: column; } }
@media (max-width: 767px) {
  .trabajos {
    height: 2100px; }
    .trabajos h2 {
      font-size: 2.5rem; }

  .videos {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
@media (max-width: 460px) {
  .trabajos {
    height: 2100px; } }
/* DISEÑO "NOSOTROS" */
.presentacion2 {
  height: 830px;
  padding: 0px 0px 0px 0px; }
  .presentacion2-texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding-top: 300px; }
    .presentacion2-texto h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 4.5rem;
      text-align: center;
      color: white; }
    .presentacion2-texto p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      color: white; }
  .presentacion2 .equipo img {
    object-fit: cover;
    width: 100%;
    height: 830px; }

.personas {
  padding: 0px 0px 0px 0px; }

.persona1 {
  width: 100%;
  height: 830px;
  background-color: white;
  background-size: 100% auto;
  margin: 0px 0px 0px 0px; }

.foto1 {
  padding: 0px;
  height: 830px; }
  .foto1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.nombre1 {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 250px;
  padding-top: 200px;
  padding-left: 70px; }
  .nombre1 h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #343434; }
  .nombre1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem; }

.persona2 {
  margin: 0px;
  height: 830px;
  background-color: white; }

.foto2 {
  padding: 0px;
  height: 830px; }
  .foto2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.nombre2 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-left: 70px;
  padding-right: 40px;
  height: 300px; }
  .nombre2 h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #343434; }
  .nombre2 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding-right: 100px; }

@media (max-width: 1200px) {
  .nombre1 {
    padding-left: 5px; }
    .nombre1 h3 {
      font-size: 3.3rem; }

  .nombre2 {
    padding-left: 5px; }
    .nombre2 h3 {
      font-size: 3.5rem; } }
@media (max-width: 767px) {
  .presentacion2 {
    padding: 0px;
    height: 910px; }
    .presentacion2-texto {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .presentacion2-texto h2 {
        font-size: 3rem;
        color: white;
        font-weight: 800; }
      .presentacion2-texto p {
        font-size: 1.2rem;
        font-weight: 600;
        color: white; }
    .presentacion2 .equipo {
      display: flex; }
      .presentacion2 .equipo img {
        object-fit: cover;
        width: 100%;
        height: 910px; }

  .personas {
    padding: 0px 0px 0px 0px; }

  .persona1 {
    height: 80vh;
    background-color: white;
    background-size: 100%; }

  .foto1 {
    height: 55vh; }
    .foto1 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

  .nombre1 {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 20px; }
    .nombre1 h3 {
      text-align: left;
      font-size: 2.5rem; }

  .persona2 {
    height: 70vh;
    background-color: white; }

  .foto2 {
    height: 50vh; }
    .foto2 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

  .nombre2 {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 20px; }
    .nombre2 h3 {
      text-align: left;
      font-size: 2.5rem; } }
/* DISEÑO "CLIENTES" */
.presentacion3 {
  height: 900px;
  background-color: #0b0b0b; }
  .presentacion3-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 170px;
    color: white; }
    .presentacion3-texto h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 4.5rem; }
    .presentacion3-texto p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1.2rem; }
  .presentacion3 .clientes {
    display: grid;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: repeat(2, 200px);
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
    grid-template-areas: "logosclientes1 logosclientes2 logosclientes3" "logosclientes4 logosclientes5 logosclientes6"; }
    .presentacion3 .clientes .logosclientes1 {
      grid-area: logosclientes1; }
      .presentacion3 .clientes .logosclientes1 a {
        text-decoration: none; }
      .presentacion3 .clientes .logosclientes1 img {
        max-width: 90%;
        max-height: 90%;
        filter: opacity(80%); }
    .presentacion3 .clientes .logosclientes2 {
      grid-area: logosclientes2; }
      .presentacion3 .clientes .logosclientes2 a {
        text-decoration: none; }
      .presentacion3 .clientes .logosclientes2 img {
        max-width: 100%;
        max-height: 100%;
        filter: opacity(80%); }
    .presentacion3 .clientes .logosclientes3 {
      grid-area: logosclientes3; }
      .presentacion3 .clientes .logosclientes3 a {
        text-decoration: none; }
      .presentacion3 .clientes .logosclientes3 img {
        width: 200px;
        height: 200px;
        filter: opacity(80%); }
    .presentacion3 .clientes .logosclientes4 {
      grid-area: logosclientes4; }
      .presentacion3 .clientes .logosclientes4 a {
        text-decoration: none;
        justify-content: center; }
      .presentacion3 .clientes .logosclientes4 img {
        max-width: 90%;
        max-height: 90%;
        filter: opacity(80%); }
    .presentacion3 .clientes .logosclientes5 {
      grid-area: logosclientes5; }
      .presentacion3 .clientes .logosclientes5 a {
        text-decoration: none; }
      .presentacion3 .clientes .logosclientes5 img {
        position: relative;
        left: 45px;
        max-width: 80%;
        max-height: 80%;
        filter: opacity(80%); }
    .presentacion3 .clientes .logosclientes6 {
      grid-area: logosclientes6; }
      .presentacion3 .clientes .logosclientes6 a {
        text-decoration: none; }
      .presentacion3 .clientes .logosclientes6 img {
        width: 100%;
        height: 100%;
        filter: opacity(80%); }

@media (max-width: 767px) {
  .presentacion3 {
    height: 1700px;
    background-color: #0b0b0b; }
    .presentacion3-texto {
      padding-top: 100px; }
      .presentacion3-texto h2 {
        font-size: 3rem; }
      .presentacion3-texto p {
        padding: 0px 80px 0px 80px; }
    .presentacion3 .clientes {
      display: grid;
      grid-template-columns: 250px;
      grid-template-rows: repeat(6, 200px);
      align-items: center;
      justify-content: left;
      grid-template-areas: "logosclientes1" "logosclientes2" "logosclientes3" "logosclientes4" "logosclientes5" "logosclientes6"; }
    .presentacion3 .logosclientes1 img {
      position: relative;
      left: 25px; }
    .presentacion3 .logosclientes4 img {
      position: relative;
      left: 20px; } }
/* DISEÑO "CONTACTO" */
.presentacion4 {
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }
  .presentacion4 .mapa {
    filter: opacity(24%);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px; }
  .presentacion4-texto {
    z-index: 1;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 40px; }
    .presentacion4-texto h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 4rem;
      color: white; }
    .presentacion4-texto p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      color: white; }
  .presentacion4-form {
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-basis: 528px;
    flex-grow: 0;
    padding: 40px; }

.contacto {
  margin: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1; }

.form-select {
  margin-top: 20px; }

.btn {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px; }

@media (max-width: 1200px) {
  .contacto {
    margin: 0px;
    flex-direction: column; }

  .presentacion4-texto {
    width: 70%;
    padding-bottom: 0px;
    padding-top: 150px; }

  .presentacion4-form {
    width: 80%;
    padding-top: 30px; } }
@media (max-width: 767px) {
  .presentacion4-texto {
    padding-top: 180px; }
    .presentacion4-texto h2 {
      font-size: 3rem; }
    .presentacion4-texto p {
      font-size: 1.2rem; } }
@media (max-width: 460px) {
  .presentacion4-texto h2 {
    font-size: 2.5rem; }
  .presentacion4-texto p {
    font-size: 1.2rem; } }
#servicios {
  height: 830px;
  padding: 0px;
  background-color: #e8e8e8; }
  #servicios h2 {
    padding-top: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #343434; }
  #servicios h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center; }

#card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
  gap: 20px;
  color: #4a4a4a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 20px;
  padding-top: 90px; }

.card__servicio {
  min-width: 280px;
  min-height: 380px;
  max-width: 280px;
  padding: 20px;
  border-radius: 9px;
  background-color: white;
  box-shadow: 1px 1px 1px black;
  align-content: center;
  align-items: center; }
  .card__servicio:hover {
    transition: .3s;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white; }
  .card__servicio hr {
    width: 100%;
    height: 4px;
    background-color: #33004e;
    margin: 20px 5px;
    border-radius: 5px; }

.card__nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; }
  .card__nombre h3 {
    font-size: 1.4rem; }
  .card__nombre img {
    width: 40px;
    height: 40px; }

.card__descripcion p {
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 20px; }

::-webkit-scrollbar {
  display: none; }

@media (max-width: 1200px) {
  #card {
    justify-content: left; } }
@media (max-width: 991px) {
  #servicios {
    height: 830px; }

  #card {
    justify-content: left; } }
@media (max-width: 767px) {
  #servicios {
    padding-top: 50px;
    height: 2100px; }
    #servicios h2 {
      font-size: 3.5rem; }
    #servicios h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 1.2rem; }

  #card {
    flex-direction: column;
    align-items: center;
    color: #4a4a4a;
    padding-top: 100px;
    gap: 40px; }

  .card__servicio:hover {
    transition: .3s;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white; }

  .card__nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; }
    .card__nombre h3 {
      font-size: 1.2; } }

/*# sourceMappingURL=style.css.map */
