@charset "UTF-8";
/* DISEÑO "NOSOTROS" */
.presentacion2 {
  height: 830px;
  background-color: #dfdede; }
  .presentacion2-texto {
    position: relative;
    top: 300px; }
    .presentacion2-texto h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 4.5rem;
      text-align: center;
      color: #343434; }
    .presentacion2-texto p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      color: #4a4a4a; }

.personas {
  padding: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 830px);
  grid-template-areas: "persona1" "persona2"; }

.persona1 {
  width: 100%;
  height: 830px;
  background-color: white;
  background-size: 100% auto;
  grid-area: persona1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 830px;
  grid-template-areas: "foto1 nombre1"; }

.foto1 img {
  grid-area: foto1;
  width: 100%;
  height: 100%; }

.nombre1 {
  grid-area: nombre1;
  width: 590px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 250px;
  padding-left: 70px; }
  .nombre1 h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #343434; }

.persona2 {
  height: 830px;
  background-color: white;
  grid-area: persona2;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 830px;
  grid-template-areas: "nombre2 foto2"; }

.foto2 img {
  grid-area: foto2;
  width: 100%;
  height: 100%; }

.nombre2 {
  grid-area: nombre2;
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 40px;
  top: 250px;
  padding: 10px; }
  .nombre2 h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    color: #343434; }

@media (max-width: 768px) {
  .presentacion2 {
    min-height: 100vh; }
    .presentacion2-texto {
      position: relative;
      top: 300px; }
      .presentacion2-texto h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        text-align: center;
        color: #343434; }
      .presentacion2-texto p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
        color: #4a4a4a; }

  .personas {
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 100vh);
    grid-template-areas: "persona1" "persona2"; }

  .persona1 {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: 100%;
    grid-area: persona1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "nombre1 foto1"; }

  .foto1 img {
    grid-area: foto1;
    width: 100px;
    height: 100px; }

  .nombre1 {
    height: 150px;
    width: 100%;
    grid-area: nombre1;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0px;
    padding-left: 0px; }
    .nombre1 h3 {
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.5rem;
      color: #343434; }

  .persona2 {
    height: 100vh;
    background-color: white;
    grid-area: persona2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas: "nombre2 foto2"; }

  .foto2 img {
    grid-area: foto2;
    width: 100px;
    height: 100px; }

  .nombre2 {
    height: 150px;
    width: 100%;
    grid-area: nombre2;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    padding: 0px; }
    .nombre2 h3 {
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 2.5rem;
      color: #343434; } }

/*# sourceMappingURL=nosotros.css.map */
