                                                      /* DISEÑO INDEX */
@import "../mixins/mixins";


$background:(
    contactanos:rgb(223, 222, 222),
    trabajos:rgb(255, 255, 255),
);

html{
    overflow-x:hidden;
}

/* Presentanción */

.presentacion{
    width: 100%;
    height: 830px;
    color: white;
    padding: 0px 0px 0px 0px;
    position: relative;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &-texto{
        top: 30%;
        position: absolute;
        z-index: 1;
        width: 40vw; height: 50vh;
        display: flex;
        flex-direction: column;
        padding-left: 30px;  
        
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 4.5rem;
        }
    
        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
    
        }
    }

    @include breakpoint(md){
        min-height: 80vh;
        background-color: rgb(15, 14, 14) ;
        background-size: 100%;
        background-image: none;

        img{
            display: none;
        }
     
        &-texto{
            top: -5%;
            margin: 0px 0px 0px 0px;
            width: 100%; height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0px;
            padding-top: 200px;
 
            h1 {
                margin: 0px 0px 0px 0px;
                font-size: 3.5rem;
                text-align: center;
              }
 
            p{
                margin: 0px 0px 0px 0px;
                font-weight: 400;
                font-size: 1.2rem;
                text-align: center;
                padding-top: 10px;
                padding-left: 60px;
                padding-right: 60px;
            }
        }        
    } 
    
    @include breakpoint(sm){
        img{
            display: none;
        }

        &-texto{
            top:0%;
        }
        
        .presentacion-texto{
            h1{
                font-size: 3rem;
            }
     
           p{
             padding-left: 20px;
             padding-right: 20px;
            }
        } 
    }
}


/* Más info */

.contactanos {
    height: 830px;
    padding: 0px 0px 0px 0px;
    background-color: map-get($background, "contactanos");
    
    img{
        width: 900px; height: 900px;
        position: relative;
        bottom: 370px;
        right: 180px;
    }

    &-texto {
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 4.5rem;
            text-align: end;
            color: rgb(52, 52, 52);
            z-index: 1;
        }

        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: end;
            color: rgb(74, 74, 74);
            z-index: 1;
        }
    }

    .carrusel{
        justify-content:right;
        padding-top: 350px;
        padding-right: 40px;
    }

    .macbook{
        display: none;
    }
}


@include breakpoint(md){
    .contactanos {
        min-height: 80vh;
        justify-content: center;

        .carrusel{
            width: 100%;
            text-align: center;
            margin: 0px 0px 0px 0px;
            padding-top: 250px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .macbook{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                height: 200px;
                width: 350px;
                position: relative;
                left: 2px;
                margin-top: 100px;                
            }
    
        }

        img{
            width: 650px; height: 650px;
            position: relative;
            bottom: 800px;
            right: 250px; 
        }

        &-texto {

            h2{
                width: 100%;
                font-size: 3rem;
                text-align: center;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
            }

            p{
                font-size: 1rem;
                text-align: center;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
            }
        }
    }
}

@include breakpoint(sm){
    .contactanos{
        img{
            width: 650px; height: 650px;
            position: relative;
            bottom: 600px;
            right: 300px;
        }

        .carrusel{
            width: 100%;
            text-align: center;
            margin: 0px 0px 0px 0px;
            padding-top: 250px;
            padding-left: 10px;
            padding-right: 10px;
        }

        &-texto{
            h2 {
                width: 100%;
                font-size: 2.5rem;
                text-align: center;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;;
            }

            p{
                font-size: 0.97rem;
                text-align: center;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
            }
        }

        .macbook{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                height: 200px;
                width: 350px;
                position: relative;
                left: 2px;
                margin-top: 50px;                
            }
        }
    
    }
}


/* Servicios */

.trabajos{
    height: 830px;
    background-color: map-get($background, "trabajos");

    h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        text-align: center;
        color: rgb(52, 52, 52);
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.trabajo1{
    background-image:url(../img/1.png);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    

    &:hover{
        background-image:url(../img/pedro.gif);
        height: 500px;
        width: 260px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: .3s;
    }

}
.trabajo2{
    background-image:url(../img/3.png);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;

    &:hover{
        background-image:url(../img/urtubey.gif);
        height: 500px;
        width: 260px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: .3s;
    }
    
}
.trabajo3{
    background-image:url(../img/5.png);
    height: 500px;
    width: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;

    &:hover{
        background-image:url(../img/unisono.gif);
        height: 500px;
        width: 260px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: .3s;
    }
}


@include breakpoint(lg){
    .trabajos{
        height: 2000px;
        }

    .videos{
        display: flex;
        flex-direction: column;  
    }
}

@include breakpoint(md){
    .trabajos{
        height: 2100px;
        

    h2{
        font-size: 2.5rem; 
        }
    }

    .videos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@include breakpoint(sm){
    .trabajos{
        height: 2100px;
    }
}






