                                                     /* DISEÑO "NOSOTROS" */

@import "../mixins/mixins";

.presentacion2 {
    height: 830px;
    padding: 0px 0px 0px 0px;

    &-texto{
        position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        padding-top: 300px;

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 4.5rem;
            text-align: center;
            color: white;
        }

        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
    }

    .equipo{
        img{
            object-fit: cover;
            width: 100%;
            height: 830px;   
        }
    }
}

.personas{
    padding: 0px 0px 0px 0px;
}

.persona1 {
    width:100%; height: 830px;
    background-color: rgb(255, 255, 255);
    background-size: 100% auto;
    margin: 0px 0px 0px 0px;
}

.foto1{
    padding: 0px;
    height: 830px;

    img{
        width: 100%; height: 100%;
        object-fit:cover;
    }
} 

.nombre1{
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 250px;
    padding-top: 200px;
    padding-left: 70px;

    h3{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 4.5rem;
        color: rgb(52, 52, 52);
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.persona2 {
    margin: 0px;
    height: 830px;
    background-color: rgb(255, 255, 255);
}

.foto2{
    padding: 0px;
    height: 830px;

    img{
        width: 100%; height: 100%;
        object-fit:cover;
    }
} 

.nombre2{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 70px;
    padding-right: 40px;
    height: 300px;

    h3{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 4.5rem;
        color: rgb(52, 52, 52);
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        padding-right: 100px;
    }
}

@include breakpoint(xl){

    .nombre1{
        padding-left: 5px;
        h3{
            font-size: 3.3rem;
        }
    }

    .nombre2{
        padding-left: 5px;
        h3{
            font-size: 3.5rem;
        }
    }

}

@include breakpoint(md) {
    .presentacion2{
        padding: 0px;
        height: 910px;

        &-texto{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);


            h2{
            font-size: 3rem;
            color: white;
            font-weight: 800;
            }

            p{
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
            }
        }
        
    .equipo{
        display:flex;
        img{
            object-fit: cover;
            width: 100%;
            height: 910px;   
        }
    }
    }

    .personas{
        padding: 0px 0px 0px 0px;
    }
    
    .persona1 {
        height: 80vh;
        background-color: rgb(255, 255, 255);
        background-size: 100%;
    }

    .foto1{
        height: 55vh;

        img{
            width: 100%; height: 100%;
            object-fit:cover;
        }
    } 
   
    .nombre1{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-top: 20px;

        h3{
            text-align: left;
            font-size: 2.5rem;
        }
    }

    .persona2 {
        height: 70vh;
        background-color: rgb(255, 255, 255);
    }
    
    .foto2{
        height: 50vh;
        
        img{
            width: 100%; height: 100%;
            object-fit:cover;
        }
    }
    
    .nombre2{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-top: 20px;

        h3{
            text-align: left;
            font-size: 2.5rem;
        }
    }
}




    
    



